#home {
  background: url('https://i.postimg.cc/YSNHTnP8/blue-mountains-mist-wallpaper-1152x720.jpg')
  center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .welcome-box {
    background: rgba(0,0,0, 0.6);
    padding: 40px 15px;
    text-align: center;
    h1 {
      font-family: 'Roboto', sans-serif;
      font-size: 28px;
      font-weight: 100;
      text-transform: uppercase;
      color: white;
    }
  }
  .welcome-box a {
    text-decoration: none;
    color: white;
  }
}
